In [1]:
#conda install -c conda-forge xarray

In [2]:
#conda install -c conda-forge xarray dask netCDF4 bottleneck

In [3]:
import webbrowser
#webbrowser.open('https://github.com/enyfeo/efas/tree/master/work')

In [4]:
import webbrowser
#webbrowser.open('https://1028f8d26f624cd18d39-my.sharepoint.com/:f:/g/personal/yilmazk_metu_edu_tr/Esk2AiVspw5OsePr7toWahgBC1HX7YlK_zVKD8K6NL1TKQ?e=XWbvuh')

In [5]:
import pandas as pd
import xarray as xr
import numpy as np
from random import sample
import matplotlib
import matplotlib.pyplot as plot
%matplotlib inline

In [6]:
stations = pd.read_excel('FlowBook_Antalya_Basin_2015_Station_Info.xlsx', index_col=0)

In [7]:
dfall = pd.DataFrame()
pgs = range(2000, 2016)
for pg in pgs:
    print('Year Processing: ', str(pg))
    #  Read TimeSeries Data for the current year
    flname = "AME164.nc"
    clim = xr.open_dataset(flname)
    clim
    lat = clim.variables['latitude']
    lon = clim.variables['longitude']
    # convert data to usable ndarray
    lat_ndarray = np.asarray(lat[:])
    lon_ndarray = np.asarray(lon[:])

Year Processing:  2000
Year Processing:  2001
Year Processing:  2002
Year Processing:  2003
Year Processing:  2004
Year Processing:  2005
Year Processing:  2006
Year Processing:  2007
Year Processing:  2008
Year Processing:  2009
Year Processing:  2010
Year Processing:  2011
Year Processing:  2012
Year Processing:  2013
Year Processing:  2014
Year Processing:  2015

In [8]:
    # Iterate over all the stations in stations frame
    dfyear = pd.DataFrame()
    for stnam in stations.stname:
        station=stations[stations['stname'] == stnam] # We have chosen a station for consistency
        station
        # Get grid corrdinates nearest to the selected station
        coordinates = np.unravel_index((np.abs(lat_ndarray - station.north.values) + np.abs(lon_ndarray - station.east.values)).argmin(), lat_ndarray.shape)
        st_y = clim.variables['y'][coordinates[0]]
        st_x = clim.variables['x'][coordinates[1]]
        # Now we will plot a time series of the derived station by using its Lat and Lon, locating the nearest point
        # extract data for selected point in netcdf file by LISFLOOD coordinates
        #dsloc = ds.sel(x=station.LisfloodX.values,y=station.LisfloodY.values,method='nearest')
        climloc = clim.sel(x=st_x,y=st_y,method='nearest')
        # Now that we have a location in the dsloc and climloc variables we can plot the data. Below we will first align the data so that the time fields are in the same format and reference
        # Historical Simulations are based on the 06UTC of the Date in the Time field Forecast fields are based on the timestep from the basetime.

        #base=dsloc.time.values
        #time=np.array([base+np.timedelta64(step) for step in dsloc.step.values])
        # We will now construct a dataframe consisting of the Historical Dataset and Ensemble Members
        df = pd.DataFrame({
        #    'Historical_times': np.array(climloc.time.values + np.timedelta64(climloc.step.values)),
            'Historical_times': np.array(climloc.time.values),
            # Historical Times from the Climatology File
            'Historical': climloc.dis06.values}) #[:, -1, -1]#,  # Historical Data from the Climatology file
        #    'TimeStep': time})  # Time data from the Ensemble Data file as Times (Base + Delta("STEP"))
        df.rename(columns={'Historical': stnam}, inplace=True)

        if stnam == stations.stname[stations.stname.index[0]]:
            dfyear = pd.concat([dfyear, df], axis=1, sort=False)
            print(stnam)
        else:
            df = df.drop(columns=['Historical_times'])
            dfyear = pd.concat([dfyear, df], axis=1, sort=False)
    dfall = dfall.append(dfyear, ignore_index=True)

D09A002

In [9]:
#for number in dsloc.number.values:  # Include each member into the dataframe
#    df['Ensemble_Member_' + str(number)] = dsloc.dis24[number - 1, :, -1, -1].values

dfall.head()  # Print a short list of the dataframe
# Now we will plot the members of the Dataframe
dfall.to_excel('DN.xlsx')

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

# Get Coordinates of Stations

In [10]:
station=stations[stations['stname'] == 'D09A002'] 
# Get coordinate information of a station with using its name
# <stations.stname.iloc[4]> use this to find it via index value
coordinates = np.unravel_index((np.abs(lat_ndarray - station.north.values) + np.abs(lon_ndarray - station.east.values)).argmin(), lat_ndarray.shape)
st_y = clim.variables['y'][coordinates[0]]
st_x = clim.variables['x'][coordinates[1]]
       
climloc = clim.sel(x=st_x,y=st_y,method='nearest')
print(climloc.latitude + climloc.longitude)

<xarray.DataArray ()>
array(68.906364, dtype=float32)
Coordinates:
    y          float64 1.892e+06
    x          float64 6.168e+06
    step       timedelta64[ns] 06:00:00
    surface    float64 0.0
    latitude   float32 37.8
    longitude  float32 31.11

In [11]:
station=stations[stations['stname'] == 'D09A002'] 
# Use name and get name lat long values of station      
coordinates = np.unravel_index((np.abs(lat_ndarray - station.north.values) + np.abs(lon_ndarray - station.east.values)).argmin(), lat_ndarray.shape)
st_y = clim.variables['y'][coordinates[0]]
st_x = clim.variables['x'][coordinates[1]]
       
climloc = clim.sel(x=st_x,y=st_y,method='nearest')
lat = climloc.latitude.values
long = climloc.longitude.values
print(station.stname.values)
print (lat , long)

['D09A002']
37.796043 31.11032

In [23]:
station=stations[stations['stname'] == stations.stname.iloc[4]] 
# Use index values and get name lat long values of station       
coordinates = np.unravel_index((np.abs(lat_ndarray - station.north.values) + np.abs(lon_ndarray - station.east.values)).argmin(), lat_ndarray.shape)
st_y = clim.variables['y'][coordinates[0]]
st_x = clim.variables['x'][coordinates[1]]
       
climloc = clim.sel(x=st_x,y=st_y,method='nearest')
lat = climloc.latitude.values
long = climloc.longitude.values
print(station.stname.values)
print (lat , long)

['D09A016']
37.659233 30.890656

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

In [13]:
col_nms=['name','lat','long']
latlong = pd.DataFrame(columns=col_nms)

station=stations[stations['stname'] == stations.stname.iloc[0]]
coordinates = np.unravel_index((np.abs(lat_ndarray - station.north.values) + np.abs(lon_ndarray - station.east.values)).argmin(), lat_ndarray.shape)
st_y = clim.variables['y'][coordinates[0]]
st_x = clim.variables['x'][coordinates[1]]  
climloc = clim.sel(x=st_x,y=st_y,method='nearest')

latlong.name = stations.stname
latlong.lat = climloc.latitude.values
latlong.long = climloc.longitude.values

In [14]:
latlong

       name        lat       long
id
0   D09A002  37.796043  31.110319
1   D09A006  37.796043  31.110319
2   D09A011  37.796043  31.110319
3   D09A013  37.796043  31.110319
4   D09A016  37.796043  31.110319
5   D09A031  37.796043  31.110319
6   D09A034  37.796043  31.110319
7   D09A039  37.796043  31.110319
8   D09A042  37.796043  31.110319
9   D09A056  37.796043  31.110319
10  D09A057  37.796043  31.110319
11  D09A060  37.796043  31.110319
12  D09A065  37.796043  31.110319
13  D09A067  37.796043  31.110319
14  D09A068  37.796043  31.110319
15  D09A075  37.796043  31.110319
16  D09A084  37.796043  31.110319
17  D09A086  37.796043  31.110319
18  D09A088  37.796043  31.110319
19  D09A089  37.796043  31.110319
20  D09A091  37.796043  31.110319
21  D09A095  37.796043  31.110319
22  D09A098  37.796043  31.110319
23  D09A100  37.796043  31.110319
24  D09A101  37.796043  31.110319
25  D09A104  37.796043  31.110319
26  D09A111  37.796043  31.110319
27  D09A114  37.796043  31.110319
28  D09A122  37.796043  31.110319
29  D09A125  37.796043  31.110319
30  D09A127  37.796043  31.110319
31  D09A131  37.796043  31.110319
32  D09A134  37.796043  31.110319
33  D09A135  37.796043  31.110319
34  E09A002  37.796043  31.110319
35  E09A012  37.796043  31.110319
36  E09A017  37.796043  31.110319
37  E09A018  37.796043  31.110319
38  E09A021  37.796043  31.110319
39  E09A022  37.796043  31.110319
40  E09A024  37.796043  31.110319
41  E09A029  37.796043  31.110319
42  E09A030  37.796043  31.110319
43  E09A031  37.796043  31.110319
44  E09A032  37.796043  31.110319
45  E09A033  37.796043  31.110319

In [15]:
latlong =latlong.set_index('name')

In [16]:
latlong.to_excel('latlong.xlsx')

In [17]:
latlong.iloc[3]
# Find values of a station with its index values

lat     37.796043
long    31.110319
Name: D09A013, dtype: float32

In [18]:
lt= latlong.T

In [19]:
lt

name,D09A002,D09A006,D09A011,D09A013,D09A016,D09A031,D09A034,D09A039,D09A042,D09A056,...,E09A017,E09A018,E09A021,E09A022,E09A024,E09A029,E09A030,E09A031,E09A032,E09A033
lat,37.796043,37.796043,37.796043,37.796043,37.796043,37.796043,37.796043,37.796043,37.796043,37.796043,...,37.796043,37.796043,37.796043,37.796043,37.796043,37.796043,37.796043,37.796043,37.796043,37.796043
long,31.110319,31.110319,31.110319,31.110319,31.110319,31.110319,31.110319,31.110319,31.110319,31.110319,...,31.110319,31.110319,31.110319,31.110319,31.110319,31.110319,31.110319,31.110319,31.110319,31.110319

In [20]:
lt.D09A002
#Find values of station with its name

lat     37.796043
long    31.110319
Name: D09A002, dtype: float32

In [22]:
lt.to_excel('lt.xlsx')

* latlong to use index values of stations


* lt to use names of stations

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

col_nms=['name','lat','long']
latlong = pd.DataFrame(columns=col_nms)

station=stations[stations['stname'] == stations.stname.iloc[0]]
coordinates = np.unravel_index((np.abs(lat_ndarray - station.north.values) + np.abs(lon_ndarray - station.east.values)).argmin(), lat_ndarray.shape)
st_y = clim.variables['y'][coordinates[0]]
st_x = clim.variables['x'][coordinates[1]]  
climloc = clim.sel(x=st_x,y=st_y,method='nearest')

new_row = pd.DataFrame({'name':stations.name, 'lat':climloc.latitude.values, 'long':climloc.longitude.values},index =[0])
latlong = pd.concat([new_row, latlong]).reset_index(drop = True)

new_row = pd.DataFrame({'name':stations.name, 'lat':climloc.latitude.values, 'long':climloc.longitude.values},index =[0])

latlong = pd.concat([new_row, latlong]).reset_index(drop = True)